@import "bootstrap-init";

.ourtwobe-at-server {
  display: inline;
}

.server-icon {
  border: 2 * $border-width solid $border-color;
  background-color: $gray-900;
}

.server-icon-text {
  font-size: $font-size-sm;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
