@import "bootstrap-init";

.ourtwobe-at-server {
  display: inline;
}

.server-icon {
  border: $border-width solid $border-color;
  background-color: $gray-900;
}

.server-icon-text {
  font-size: $font-size-sm;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gay-af {
  -webkit-text-stroke: 0.3px white;
  background: linear-gradient(to right, #FF0018, #FFA52C, #FFFF41, #008018, #0000F9, #86007D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.server-dropdown {
  max-height: 250px;
  overflow-y: auto;
}
