{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "bugfixes": true,
                "useBuiltIns": "usage",
                "corejs": "3.26.0"
            }
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}
